html, body
  margin: 0
  padding: 0

html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

body
  font-family: $font
  background: $dark

ul
  padding-left: 0
  list-style: none

input
  border: none
  outline: none

.wrap
  margin: 0 auto
  padding-left: 10px
  padding-right: 10px
  max-width: 900px

  @media mq-sm
    width: 100%

.input
  padding-top: 7px
  padding-bottom: 7px
  padding-left: 10px
  padding-right: 10px
  border: 1px solid $dark
  border-radius: 3px
  font-family: $font
  background: $white
