// fonts
$font = 'Open Sans Regular', sans-serif
$font-b = 'Open Sans Bold', sans-serif

// colors
$main = #00ADB5
$dark = #222831
$light = #EEEEEE
$text-dark = #393E46

// media queries
$mq-sm = "(max-width: 767px)"
$mq-md = "(min-width: 768px) and (max-width: 1023px)"
$mq-lg = "(min-width: 1024px)"
